.form-main {
	margin-top: -80px;
	background: #fff;
	padding: 15px;
	label {
		margin-top: 20px;
		font-family: "Quattrocento Sans";
	font-size: 14px;
	// font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	}
	textarea {
		margin-bottom: 25px;
	}
}
.input-main {
	width: 100%;
	background-color: #eaeef1;
	border-radius: 2px;
	border: none;
	padding: 5px;
}
input.input-main {
	height: 44px;
}